PORT=3005

JWT_SECRET="batata-frita"

RATE_LIMIT_SHORT=10
RATE_LIMIT_MEDIUM=100
RATE_LIMIT_LONG=1000

SWAGGER_URL="http://localhost:3005/api"

USER_SERVICE_URL="http://localhost:3000"
PRODUCT_SERVICE_URL="http://localhost:3002"
CHECKOUT_SERVICE_URL="http://localhost:3003"
PAYMENT_SERVICE_URL="http://localhost:3004"

CORS_ORIGIN="*"
